<p><span style="color: mblue"><strong><span class="smallcaps">Eduardo Pignatelli</span></strong></span><br />
</p>
<p>Address: <a href="https://goo.gl/maps/x1G2mCkBJvDdVE1t9">London, United Kingdom</a><br />
Mobile: <a href="tel:07454340753">+44 7454 340 753</a><br />
Email: <a href="mailto:edu.pignatelli@gmail.com">edu.pignatelli@gmail.com</a><br />
Website: <a href="https://epignatelli.com">https://epignatelli.com</a><br />
GitHub: <a href="https://github.com/epignatelli">https://github.com/epignatelli</a><br />
LinkedIn: <a href="https://www.linkedin.com/in/epignatelli">https://www.linkedin.com/in/epignatelli</a><br />
Twitter: <a href="https://twitter.com/edupignatelli">https://twitter.com/edupignatelli</a><br />
Google Scholar: <a href="https://scholar.google.com.au/citations?user=d-TVZ1YAAAAJ&amp;hl=en">https://scholar.google.com.au/epignatelli</a></p>
<section id="education" class="unnumbered">
<h1 class="unnumbered">EDUCATION</h1>
<ol>
<li><p><span style="color: mblue"><strong>Doctor of Philosophy</strong></span> – Reinforcement Learning<br />
<span style="color: mblue"><strong>University College London</strong></span><br />
<em>London, UK – November 2020 to <span style="color: mblue"><strong>present</strong></span></em> 0.05em <em>I am conducting research on the temporal credit assignment problem in non-stationary reinforcement learning, and how <em>credit</em> and <em>optimal credit</em> can be formally defined. The position is funded by a scholarship from the Engineering and Physical Sciences Research Council (EPSRC).</em></p></li>
<li><p><span style="color: mblue"><strong>Master of Architecture</strong></span> – Degree class of Architecture and Construction Engineering<br />
<span style="color: mblue"><strong>University of Naples Federico II</strong></span><br />
<em>Naples, Italy – September 2009 to July 2015</em><br />
Final grade: <span style="color: mblue"><strong>110 Con Lode</strong></span> / 110, and recommendation for publication<br />
Average grade: <span style="color: mblue"><strong>29.167 / 30</strong></span><br />
<em>I defended the thesis “Computational morphogenesis and construction of an acoustic shell for outdoor chamber music”.<br />
Implementing numerical methods that uses geometrical acoustics, computational physics, descriptive geometry and genetic algorithms, the thesis presents a novel generative method to design a passive acoustic shell for outdoor classical music. Both in silico results and on site measurements show that it outperforms the state of the art of the design of outdoor acoustic chambers.</em></p></li>
</ol>
</section>
<section id="publications" class="unnumbered">
<h1 class="unnumbered">PUBLICATIONS</h1>
<ol>
<li><p><span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Toni, L., 2022. <em>A Survey of Temporal Credit Assignment in Deep Reinforcement Learning</em>. In submission.</p></li>
<li><p>Wong N., Meshkinfamfard S., Turbé V., Whitaker M., Moshe M., Bardanzellu A., Dai T., <span style="color: mblue"><strong>Pignatelli E.</strong></span>, Barclay W., Darzi A., Elliott P., Ward H., Tanaka R., Cooke G., McKendry R., Atchison C., Bharath A., 2022. <em>Machine learning to support visual auditing of home-based lateral flow immunoassay self-test results for SARS-CoV-2 antibodies</em>. <span style="color: mblue"><strong>Communications Medicine. Nature Research</strong></span>.</p></li>
<li><p>Lino, M., Cantwell, C., Fotiadis, S., <span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Bharath, A., 2020. <em>Simulating Surface Wave Dynamics with Convolutional Networks</em>. In <span style="color: mblue"><strong>NeurIPS</strong></span> workshop on Interpretable Inductive Biases and Physically Structured Learning.</p></li>
<li><p>Fotiadis, S., <span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Valencia, M.L., Cantwell, C., Storkey, A., Bharath, A.A., 2020. <em>Comparing recurrent and convolutional neural networks for predicting wave propagation</em>. In <span style="color: mblue"><strong>ICLR</strong></span> Workshop on Deep Neural Models and Differential Equations.</p></li>
<li><p>Di Rosario, <span style="color: mblue"><strong>S., Pignatelli</strong></span>, E. and Mirra, G., 2018, May. <em>An automated design methodology for acoustic shells in outdoor concerts</em>. In Proceedings of the <span style="color: mblue"><strong>EuroNoise</strong></span> (Vol. 2018, pp. 2123-2130).</p></li>
<li><p><span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Mirra, G. and Pone, S., 2017, September. <em>InFormer: designing forming actions in post-formed gridshells by means of Multi-Objective Genetic Algorithms</em>. In Proceedings of <span style="color: mblue"><strong>IASS</strong></span> Annual Symposia (Vol. 2017, No. 17, pp. 1-10). International Association for Shell and Spatial Structures (IASS).</p></li>
<li><p>Mirra, G., <span style="color: mblue"><strong>Pignatelli, E.</strong></span> and Pone, S., 2016, September. <em>Computational morphogenesis and construction of an acoustic shell for outdoor chamber music</em>. In Proceedings of <span style="color: mblue"><strong>IASS</strong></span> Annual Symposia (Vol. 2016, No. 17, pp. 1-10). International Association for Shell and Spatial Structures (IASS).</p></li>
<li><p>Pone, S., Mirra, G., <span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Lancia, D. and Colabella, S., 2016, October. <em>Specialised algorithms for different project stages in a post-formed timber gridshell design</em>. In Proceedings of the 3rd International Conference on Structures and Architecture <span style="color: mblue"><strong>(ICSA)</strong></span> (pp. 259-266).</p></li>
<li><p>Di Rosario, S., Parenti, B., <span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Mirra, G., Pone, S., 2015, October. <em>Res, Resonant String Shell, development and design of an acoustic shell for outdoor chamber music concerts</em>. In Proceedings of the <span style="color: mblue"><strong>Institute of Acoustics</strong></span> (Vol. 37, pp. 354-373). 9th International Conference on Auditorium Acoustics.</p></li>
<li><p><span style="color: mblue"><strong>Pignatelli, E.</strong></span>, Colabella, S., Rosario, S.D. and Pone, S., 2015, August. <em>A wooden acoustic shell for open-air chamber music concert</em>. In Proceedings of <span style="color: mblue"><strong>IASS</strong></span> Annual Symposia (Vol. 2015, No. 25, pp. 1-12). International Association for Shell and Spatial Structures (IASS).</p></li>
</ol>
</section>
<section id="awards-and-studentships" class="unnumbered">
<h1 class="unnumbered">AWARDS AND STUDENTSHIPS</h1>
<ol>
<li><p><span style="color: mblue"><strong>UK Research and Innovation Studentship</strong></span><br />
Including 4 years funding to spend at the University College London for a PhD in Reinforcement Learning.</p></li>
<li><p><span style="color: mblue"><strong>Best Innovation 2020 – Society of Digital Engineering</strong></span><br />
For the design of the open source <em>Buildings and Habitats Object Model</em> (bhom.xyz), <em>to democratise the access to computational engineering</em>.</p></li>
<li><p><span style="color: mblue"><strong>Peter Lord Award</strong></span><br />
Conferred by the Institute of Acoustics to the ReS Team, for the work “<em>ReS, Resonant String Shell, Development and Design of an Acoustic Shell for Outdoor Chamber Music Concerts” as “a project that showcases outstanding and innovative design</em>”. 2016.</p></li>
<li><p><span style="color: mblue"><strong>Honorary Fellowship: Authority in the subject (Cultore della Materia)</strong></span><br />
In <em>Technology for Architecture</em> at the University of Naples Federico II. From 2016 to 2018.</p></li>
<li><p><span style="color: mblue"><strong>Essence of Buro Happold Award</strong></span><br />
Funding, as part of the Computational Team, Team of the Year, which “<em>has become an inspiration, the heart of exploring something we do not know where it is going to take us but instinctively is the right thing to do.</em>” P. Rogers, Senior Partner, 2017.</p></li>
<li><p><span style="color: mblue"><strong>Master’s thesis funding by M.A.R – https://www.vpmusica.com/en/res/</strong></span><br />
For the design and construction of the prototype defended in the Master’s Thesis “<em>Computational Morphogenesis and Construction of an Acoustic Shell for Outdoor Chamber Music</em>”. 2015.</p></li>
</ol>
</section>
<section id="industry-experience" class="unnumbered">
<h1 class="unnumbered">INDUSTRY EXPERIENCE</h1>
<ol>
<li><p><span style="color: mblue"><strong>Research Assistant</strong></span><br />
<span style="color: mblue"><strong>Imperial College London</strong></span><br />
<em>September 2019 to November 2020. London, UK</em> 0.05em <em>I conducted research to shorten the computational time for predictive modelling of surgical interventions in cardiology. Statistical modelling, specifically deep learning, is central in the approach. The deep networks take advantage of accepted numerical modelling techniques to generate training data, and are optimised to infer approximate solutions in about 1% of time necessary to standard models. The position was founded by the Rosetrees Trust, in collaboration with the ElectroCardioMaths program, a multidisciplinary initiative that brings together the National Heart and Lung Institute, and the Departments of Bioengineering, Aeronautics, Computing and Physics to address key challenges in the diagnosis and treatment of complex cardiac arrhythmia.</em><br />
Skills: Python, Jax, Flax, Pytorch, GPU computing, Git, Numerical methods, Predictive modelling.</p></li>
<li><p><span style="color: mblue"><strong>Machine Learning and Decision Analytics Lead</strong></span><br />
<span style="color: mblue"><strong>BuroHappold Engineering</strong></span><br />
<em>September 2018 to October 2020. London, UK</em> 0.1em <em>I led the applied research in Machine Learning to help understand how AI can create value for the business. We democratised the access to Deep Learning technologies to allow every employee access the knowledge and the tools. We exploited Visual Programming, a recognised and diffused tool for design, to create a framework that interoperates between the most common deep learning libraries, tensorflow, keras, pytorch, numpy. The position was part of the wider computational core team that brings together discipline leads into a centralised research team bhom.xyz. The BHoM is currently adopted in different companies and is at the base of the project funded by Innovate UK, github.com/aecdeltas, which I advise for.</em><br />
Skills: Line management, Risk management, Strategical thinking, Planning, C#, Python, Deep learning, Data warehouse, NoSql, Keras, Pytorch, jupyterhub.</p></li>
<li><p><span style="color: mblue"><strong>Machine Learning Engineer</strong></span><br />
<span style="color: mblue"><strong>BuroHappold Engineering</strong></span><br />
<em>August 2017 to August 2018. London, UK</em> 0.1em <em>For the remaining 50% of my time, I have been applying deep learning for computer vision to the analysis of security footage for the Premier League. To monitor the number of standing fans during a football match we created a database of more than 400,000 annotated images, and trained a convolutional deep network to identify them. We then exploited principal component analysis, hierarchical clustering and bespoke data visualisation to gather insights from the resulting probability distribution.</em> Skills: Python, Supervised learning, Unsupervised learning, NoSql, Tensorflow, Pytorch, Azure, AWS, Cloud computing, Docker.</p></li>
<li><p><span style="color: mblue"><strong>Software Engineer</strong></span><br />
<span style="color: mblue"><strong>BuroHappold Engineering</strong></span><br />
<em>August 2017 to August 2018. London, UK</em> 0.1em <em>For 50% of my time I have been designing a framework for data sharing and co-creation in design, for the architecture, engineering and construction industry, bhom.xyz. We created a software-agnostic model to link together the capabilities of existing software and allow seamless interoperability between them. A short-cycles, distributed scrum development model, and an entity-component-system architecture allowed independent contributions from more than 50 users. My main responsibility has been to lead the UI and support the framework leadership of the project.</em><br />
Skills: C#, JavaScript, Git, Agile development, SCRUM, UI, UX, MongoDB.</p></li>
<li><p><span style="color: mblue"><strong>Intern Computational Engineer</strong></span><br />
<span style="color: mblue"><strong>BuroHappold Engineering</strong></span><br />
<em>April 2017 to August 2017. Bath, UK</em> 0.1em <em>I provided computational support for the Stadia Atmosphere project and helped introduce deep learning into the current offer for sports venues design. We used pre-trained deep neural networks for Natural Language Processing to perform sentiment analysis on news regarding a specific football team.</em><br />
Skills: Python, Visual programming, C#, MongoDB.</p></li>
<li><p><span style="color: mblue"><strong>Architect</strong></span><br />
<span style="color: mblue"><strong>Gianni Ranaulo Design</strong></span><br />
<em>September 2016 to December 2016. Dubai, UAE</em> 0.1em <em>I provided support for the parametric modelling of a façade in a multi-purpose shopping centre.</em> Skills: Visual Programming, Geometrical modelling, Image processing, Rendering.</p></li>
<li><p><span style="color: mblue"><strong>Computational Architect</strong></span><br />
<span style="color: mblue"><strong>Gridshell.it</strong></span><br />
<em>September 2015 to September 2016. Naples, Italy</em> 0.1em <em>I conducted research on the application of computational tools to recover the use of traditional low-tech construction techniques. I used generative modelling to provide cost-effective, environmentally efficient, and functionally viable structure. Using genetic algorithms, particle-spring system models and dynamic relaxation we designed and built 13 prototypes of timber post-formed gridshells. Taking advantage of recognised acoustic modelling techniques we generatively designed three temporary acoustic shells for outdoor classical concerts, the last of which has won the Peter Lord Award.</em> Skills: Python, Numerical methods, Physics, Differential Equations, Spectral analysis, Acoustical modelling.</p></li>
<li><p><span style="color: mblue"><strong>Computational Architectural Assistant</strong></span><br />
<span style="color: mblue"><strong>Gridshell.it</strong></span><br />
<em>July 2014 to September 2015. Naples, Italy</em></p></li>
<li><p><span style="color: mblue"><strong>Intern Architect</strong></span><br />
<span style="color: mblue"><strong>CRC – Constructions Restorations and Consolidations</strong></span><br />
<em>September 2012 to December 2012. Naples, Italy</em> <em>I provided support for the preparation of compliance documentation for a multi-storey parking building. My main responsibility was to ensure the fire compliance of the building.</em></p></li>
</ol>
</section>
<section id="teaching-experience" class="unnumbered">
<h1 class="unnumbered">TEACHING EXPERIENCE</h1>
<ol>
<li><p><span style="color: mblue"><strong>Teaching Assistant</strong></span><br />
<span style="color: mblue"><strong>University College London</strong></span><br />
<em>October 2021 to <span style="color: mblue"><strong>present</strong></span>. London, UK</em><br />
Class: UCL-ELEC0136, Data Acquisition and Processing Systems</p></li>
<li><p><span style="color: mblue"><strong>Teaching Assistant</strong></span><br />
<span style="color: mblue"><strong>University College London</strong></span> for <span style="color: mblue"><strong>Defence Science and Technology Laboratory</strong></span><br />
<em>March 2021. London, UK</em><br />
Class: Deep Reinforcement Learning</p></li>
<li><p><span style="color: mblue"><strong>Teaching Assistant</strong></span><br />
<span style="color: mblue"><strong>Imperial College</strong></span> for <span style="color: mblue"><strong>Sberbank</strong></span><br />
<em>March 2020 to March 2021. London, UK</em><br />
Subject: Computer Vision for object recognition and retrieval</p></li>
<li><p><span style="color: mblue"><strong>Teaching Assistant</strong></span><br />
<span style="color: mblue"><strong>University of Naples Federico II</strong></span><br />
<em>2016. Naples, Italy</em><br />
Subject: Technology of Architecture Studio</p></li>
</ol>
</section>
<section id="public-presentations-and-lectures" class="unnumbered">
<h1 class="unnumbered">PUBLIC PRESENTATIONS AND LECTURES</h1>
<ol>
<li><p><span style="color: mblue"><strong>Innochain Symposium, Expanding Information Modelling</strong></span><em>Copenhagen, Denmark – November 2018</em><br />
Presenting: <em>“The BHoM – A framework for mass adoption of Computational Design”, Copenhagen, Denmark.</em></p></li>
<li><p><span style="color: mblue"><strong>Architectural Association, EmTec, Invited lecture</strong></span><em>London, UK – June 2018</em><br />
Presenting: <em>“Generative design with active bending”</em></p></li>
<li><p><span style="color: mblue"><strong>Royal College of Art, Invited lecture</strong></span><em>London, UK – February 2018</em><br />
Presenting: <em>“Algorithmic thinking in design"</em></p></li>
<li><p><span style="color: mblue"><strong>IABSE Symposium</strong></span><em>Bath, UK – April 2017</em><br />
Buro Happold Representatives Talk: <em>“Generative design of an Acoustic Chamber for Outdoors”</em></p></li>
<li><p><span style="color: mblue"><strong>IASS Symposium 2015</strong></span><em>Amsterdam, Netherlands – August 2015</em><br />
Presenting : <em>“A wooden acoustic shell for open-air chamber music concert”</em>.</p></li>
<li><p><span style="color: mblue"><strong>University of Naples, Invited lecture</strong></span><em>Naples, Italy – march 2015</em><br />
Presenting: <em>“A strategy for the waterfront of Naples”, Naples, Italy.</em></p></li>
</ol>
</section>
<section id="licenses" class="unnumbered">
<h1 class="unnumbered">LICENSES</h1>
<ul>
<li><p>Registered Architect in the UK at the ARB, with number: 08860D, from Feb 2017.</p></li>
<li><p>White/Yellow CSCS Professionally Qualified Person card, from Feb 2018.</p></li>
</ul>
</section>
<section id="coursers-and-certifications" class="unnumbered">
<h1 class="unnumbered">COURSERS AND CERTIFICATIONS</h1>
<ol>
<li><p><span style="color: mblue"><strong>Deep Learning Specialization</strong></span><br />
Licence 55M8BYZZTGL7, Prof. Andrew Ng, Coursera</p></li>
<li><p><span style="color: mblue"><strong>Neural Networks and Deep Learning – Andrew Ng, Coursera</strong></span><br />
Licence WJE8TMPBTAM6, Prof. Andrew Ng, Coursera</p></li>
<li><p><span style="color: mblue"><strong>Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization</strong></span><br />
Licence KTQFXY9DLUBS, Prof. Andrew Ng, Coursera</p></li>
<li><p><span style="color: mblue"><strong>Structuring Machine Learning Projects</strong></span><br />
Licence XTTFC757KVLH, Prof. Andrew Ng, Coursera</p></li>
<li><p><span style="color: mblue"><strong>Convolutional Neural Networks</strong></span><br />
Licence 8X8Z8NQS5QPB, Prof. Andrew Ng, Coursera</p></li>
<li><p><span style="color: mblue"><strong>Sequence Models</strong></span><br />
Licence PXD3GPJWBWKF, Prof. Andrew Ng, Coursera</p></li>
</ol>
</section>
