<div class="experience-item">
    <p><strong>University College London</strong></p>
    <p><strong>Assistant Professor (UK Lecturer, Teaching)</strong></p>
    <p><em>September 2024 – <strong>Present</strong></em></p>
    <p><em>London, UK</em></p>
    <p>
        I teach the Data Acquisition and Processing Systems within the Integrated Machine Learning Master at UCL. The
        module is an introduction on how to structure a machine learning project: data acquisition using web API and
        sensors; data storage, SQL and noSQL databases; statistical data processing including sampling, normalisation,
        and linear projections; deep learning. Secondly, I am responsible for the coordination of the student’s final
        thesis project across the department. Finally, I supervise postgraduate students in their final projects.
    </p>
</div>

<div class="experience-item">
    <p><strong>Imperial College London</strong></p>
    <p><strong>Research Assistant</strong></p>
    <p><em>September 2019 – November 2020</em></p>
    <p><em>London, UK</em></p>
    <p>
        I conducted research to shorten the computational time for predictive modelling of surgical interventions in
        cardiology. Statistical modelling, specifically deep learning, is central in the approach. The deep networks
        take advantage of accepted numerical modelling techniques to generate training data and are optimised to infer
        approximate solutions in about 1% of time necessary to standard models. The position was founded by the
        Rosetrees Trust, in collaboration with the ElectroCardioMaths program, a multidisciplinary initiative that
        brings together the National Heart and Lung Institute, and the Departments of Bioengineering, Aeronautics,
        Computing and Physics to address key challenges in the diagnosis and treatment of complex cardiac arrhythmia.
    </p>
</div>

<div class="experience-item">
    <p><strong>BuroHappold Engineering</strong></p>
    <p><strong>Machine Learning and Decision Analytics Lead</strong></p>
    <p><em>August 2018 – October 2020</em></p>
    <p><em>London, UK</em></p>
    <p>
        I led the applied research in Machine Learning to help understand how AI can create value for the business. We
        democratised the access to Deep Learning technologies to allow every employee to access the knowledge and the
        tools. We exploited Visual Programming, a recognised and diffused tool for design, to create a framework that
        interoperates between the most common deep learning libraries, tensorflow, keras, pytorch, numpy. The position
        was part of the wider computational core team that brings together discipline leads into a centralised research
        team bhom.xyz. The BHoM is currently adopted in different companies and is at the base of the project funded by
        Innovate UK, github.com/aecdeltas, which I advise for.
    </p>
</div>

<div class="experience-item">
    <p><strong>BuroHappold Engineering</strong></p>
    <p><strong>Computational/Machine Learning Engineer</strong></p>
    <p><em>August 2017 – August 2018</em></p>
    <p><em>London, UK</em></p>
    <p>
        For 50% of my time, I have been applying deep learning for computer vision to the analysis of security footage
        for the Premier League. To monitor the number of standing fans during a football match we created a database of
        more than 400,000 annotated images and trained a convolutional deep network to identify them. We then exploited
        principal component analysis, hierarchical clustering and bespoke data visualisation to gather insights from the
        resulting probability distribution. For the remaining 50% of my time, I have been designing a framework for data
        sharing and co-creation in design, for the architecture, engineering and construction industry, bhom.xyz.
    </p>
    <p>
        We created a software-agnostic model to link together the capabilities of existing software and allow seamless
        interoperability between them. A short-cycles, distributed scrum development model, and an
        entity-component-system architecture allowed independent contributions from more than 50 users. My main
        responsibility has been to lead the UI and support the framework leadership of the project.
    </p>
</div>

<div class="experience-item">
    <p><strong>BuroHappold Engineering</strong></p>
    <p><strong>Intern Computational Engineer</strong></p>
    <p><em>April 2017 – August 2017</em></p>
    <p><em>Bath, UK</em></p>
    <p>
        I provided computational support for the Stadia Atmosphere project and helped introduce deep learning into the
        current offer for sports venues design. We used pre-trained deep neural networks for Natural Language Processing
        to perform sentiment analysis on news regarding a specific football team.
    </p>
</div>

<div class="experience-item">
    <p><strong>Gianni Ranaulo Design</strong></p>
    <p><strong>Architect</strong></p>
    <p><em>September 2016 – December 2016</em></p>
    <p><em>Dubai, UAE</em></p>
    <p>
        I provided support for the parametric modelling of a façade in a multi-purpose shopping centre.
    </p>
</div>

<div class="experience-item">
    <p><strong>Gridshell.it</strong></p>
    <p><strong>Computational Architect</strong></p>
    <p><em>September 2015 – September 2016</em></p>
    <p><em>Naples, Italy</em></p>
    <p>
        I conducted research on the application of computational tools to recover the use of traditional low-tech
        construction techniques. I used generative modelling to provide cost-effective, environmentally efficient, and
        functionally viable structure. Using genetic algorithms, particle-spring system models and dynamic relaxation we
        designed and built 13 prototypes of timber post-formed gridshells. Taking advantage of recognised acoustic
        modelling techniques, we generatively designed three temporary acoustic shells for outdoor classical concerts,
        the last of which has won the Peter Lord Award.
    </p>
</div>

<div class="experience-item">
    <p><strong>Gridshell.it</strong></p>
    <p><strong>Computational Architectural Assistant</strong></p>
    <p><em>July 2014 – September 2015</em></p>
    <p><em>Naples, Italy</em></p>
</div>

<div class="experience-item">
    <p><strong>CRC – Constructions Restorations and Consolidations</strong></p>
    <p><strong>Intern Architect</strong></p>
    <p><em>September 2012 – December 2012</em></p>
    <p><em>Naples, Italy</em></p>
    <p>
        I provided support for the preparation of compliance documentation for a multi-storey parking building. My main
        responsibility was to ensure the fire compliance of the building.
    </p>
</div>