<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBLBRDKJ11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FBLBRDKJ11');
    </script>

    <!-- Metadata-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0053d6" />
    <meta name="Description" content="{{site.description}}" />
    <meta name="url" content="https://epignatelli.com" />
    <meta name="keywords"
        content="AI, Machine Learning, Continual Learning, Meta-Learning, Meta Learning, Deep Learning, Reinforcement Learning, Deep Reinforcement Learning, Academia, Research, UCL, LASP" />

    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:email" content="{{ site.email }}" />
    <meta property="og:author" content="{{ site.author }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.url | append:'/assets/images/logo.png' }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="2600" />
    <meta property="og:image:width" content="2600" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://twitter.com/{{ site.twitter_username }} ">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('a[href]').forEach(link => {
                const href = link.getAttribute('href');

                // Ignore links that start with '#' (internal anchors)
                if (href.startsWith('#')) return;

                // Ignore links that are explicitly marked for same-tab
                if (link.hasAttribute('target')) return;

                // Make other links open in new tab
                link.setAttribute('target', '_blank');
                link.setAttribute('rel', 'noopener noreferrer');
            });
        });
    </script>
    <script src="/assets/js/trippin.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const nav = document.getElementById("nav");
            const intro = document.getElementById("nav-start");
            if (nav && intro) {
                const introTop = intro.getBoundingClientRect().top + window.scrollY;
                // introTop = introTop - parseFloat(getComputedStyle(parentElement).fontSize);
                nav.style.top = `${introTop}px`;
            }
        });
    </script>
</head>