<div class="row">
    <div class="col col-3-of-12 s-hide right">
            <span class="small light red fade" id="init">Take the red pill.</span>
            <span class="small light blue fade" id="reset">Take the blue pill.</span>
    </div>
</div>
<div class="col col-4-of-12 right" id="heading">
    <p class="small right">
        <a href="https://github.com/epignatelli/cv/raw/main/CV.pdf" target="_blank">
        Eduardo Pigantelli<br>London, UK<br>CV
        </a>
    </p>
</div>
<div class="col col-3-of-12 col-s-6-of-6 right" id="social">
        <br>
        <a class="noborder" href="mailto:{{site.email}}" aria-label="Gmail">
                <span class="fab fa-gmail fa-lg"></span>
        </a>
        <span class="push-right"></span>
        <a class="button-link noborder" target="_blank" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
                <span class="fab fa-github fa-lg"></span>
        </a>
        <span class="push-right"></span>
        <a class="twitter-share-button noborder" target="_blank" href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
                <span class="fab fa-twitter fa-lg"></span>
        </a>
        <span class="push-right"></span>
        <a class="noborder" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}" aria-label="Linkedin">
                <span class="fab fa-linkedin fa-lg"></span>
        </a>
        <span class="push-right"></span>
        <a class="noborder" target="_blank" href="https://scholar.google.co.uk/citations?user=d-TVZ1YAAAAJ&hl=en" aria-label="Google Scholar">
                <span class="fab fa-scholar fa-lg"></span>
        </a>
        <hr>
</div>