// font-face
@font-face {
  font-family: 'Sage';
  src: url('/assets/fonts/sage-bold.woff2') format('woff');
  }
@font-face {
  font-family: 'Sherpa';
  src: url('/assets/fonts/sherpa.woff2') format('woff');
  }
@font-face {
  font-family: "Bell";
  src: url('assets/fonts/bell mt fett.ttf') format('ttf');
}
@font-face {
  font-family: "Bell";
  src: url('assets/fonts/BellMTItalic.ttf') format('ttf');
  font-style: italic;
}
@font-face {
  font-family: "Bell";
  src: url('assets/fonts/BellMT_bold.woff') format('woff');
  font-weight: bold;
}

// colors
$text-color-base: #222222;
$text-color-dim: #909090;
$text-color-light: #DEDEDE;
$background-color: #FFFFFF;
$accent-color: #EAC80D;

// font face
$header-font: Sage;
$text-font: Sherpa;

// body
body {
  background: white;
  margin-left: auto;
  margin-right: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}
div {
  background: white;
}

// text
h1 {
  font-family: $header-font;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: right;
  color: $text-color-base;
  margin-top: 20px;
  margin-bottom: 20px;
  }
h2 {
  font-family: $text-font;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  color: $text-color-base;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
h3 {
  font-family: $header-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: $text-color-base;
  margin-top: 20px;
  margin-bottom: 20px;
}
p, span {
  font-family: $text-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: $text-color-base;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
hr {
  height: 0px;
  background: transparent;
  border: 0.5px solid $text-color-light;
  border-radius: 5px;
  margin: 0px;
}

// margins
.push-right {
  margin-right: 30px;
}
div.col {
  margin-top: 0px;
  margin-bottom: 0px;
}

// Text dim
.small {
  font-size: 10px;
}

// positions
.fixed {
  position: fixed;
}
.fix-left {
  position: fixed;
  left: 10px;
  top: 10px
}
.fix-right {
  position: fixed;
  text-align: right;
  right: 20px;
  top: 10px;
}

// decorations
.light {
  color: $text-color-light;
}
.dim {
  color: $text-color-dim;
}
.text {
  color: $text-color-base;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.fade {
  filter: opacity(0.3);
}
.fade:hover {
  filter: none;
}

// sections
#init:hover, #reset:hover  {
  text-decoration: underline;
  cursor: help;
}
#heading {
  margin-top: 50px;
}
#social {
  margin-top: 20px;
  margin-bottom: 150px;
}
#trajectory {
  margin-top: 200px;
}

// icons
.fa, .fab, .far, .fas {
  color: $text-color-base;
  filter: opacity(0.3) saturate(0);
}
.fab:hover {
  transition: 0.2s;
  filter: none;
}
.fa-twitter {
  color: #1C9DEB !important;
}
.fa-linkedin {
  color: #0170AD !important;
}
.fa-github {
  color: #313030 !important;
}
.fa-scholar {
  content: url('../images/google-scholar.svg');
  height: 1em;
  width: auto;
}
.fa-gmail {
  content: url('../images/gmail-icon.svg');
  height: 1em;
  width: auto;
}
