<li>
    {%- assign my_first = "E" -%}
    {%- assign my_last = "Pignatelli" -%}
    {%- for a in entry.author_array -%}
        {%- capture name -%}{{ a.first }} {{ a.last }}{%- endcapture -%}
        {%- assign first_initial = a.first | slice: 0, 1 -%}
        {%- if first_initial == my_first and a.last == my_last -%}
            {%- capture name -%}<strong>{{ a.first }} {{ a.last }}</strong>{%- endcapture -%}
        {%- endif -%}
        {{ name }}{%- unless forloop.last -%}, {% endunless -%}
    {%- endfor -%} 
    ({{ entry.year }}). {{ entry.title }}.
    {% if entry.journal %}
    {{ entry.journal }}
    {% elsif entry.booktitle %}
    {{ entry.booktitle }}
    {% endif %}
    {% if entry.volume %} {{ entry.volume }}{% endif %}
    {% if entry.number %}({{ entry.number }}){% endif %}
    {% if entry.pages %}, {{ entry.pages }}{% endif %}.
    {% if entry.url %}
    <a href="{{ entry.url }}">[Link]</a>
    {% endif %}
    {% if entry.pdf %}
    <a href="{{ entry.pdf }}">[PDF]</a>
    {% endif %}
</li>
