<!doctype html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
{% include head.html %}

<body>
    <div class="grid">
        {% include header.html %}
        <div class="col col-12-of-12 right" id="title">
            <h2>Currently a <b>Phd</b> Candidate at <b>UCL</b> under the supervision of <b>Laura Toni</b> and <b>Tim Rocktäschel</b></h2>
            <h1> Hello there, I am Eduardo,<br> researcher in AI.</h1>
        </div>
        <div class="col col-9-of-12 right">
            <p>
                I am an architect by training, a computer scientist by profession.
                Investigating and understanding the psyche - and my psyche - is the <b>rest</b> of my life.
                This rest turned out to coherently merge with my profession, my passion and has become my mission.
                My interests are in <b>artificial general intelligence</b> and <b>autonomous learning</b>, and include <b>deep learning, reinforcement learning,
                multi-agent systems</b>, game theory and computer vision.
                <br>
                <br>
                <br>
            </p>
        </div>


    </div>
</body>

</html>