<!doctype html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
{% include head.html %}

<body>
    <div class="grid">
        {% include header.html %}
        <div class="col col-12-of-12 right" id="title">
            <h2>Currently a <b>Phd</b> Candidate at <b>UCL</b> under the supervision of <b>Laura Toni</b> and <b>Tim Rocktäschel</b></h2>
            <h1> Hello there, I am Eduardo,<br> researcher in AI.</h1>
        </div>
        <div class="col col-9-of-12 right">
            <p>
                I am an architect by training, a computer scientist by profession.
                Investigating and understanding the psyche - and my psyche - is the <b>rest</b> of my life.
                This rest turned out to coherently merge with my profession, my passion and has become my mission.
                My interests are in <b>artificial general intelligence</b> and <b>autonomous learning</b>, and include <b>deep learning, reinforcement learning,
                multi-agent systems</b>, game theory and computer vision.
                <br>
                <br>
                <br>
            </p>
        </div>

        <div class="col col-12-of-12 right" id="trajectory">
            <h3> Trajectory</h3>
            <div class="row right">
                <div class="col col-3-of-12 right">
                    <p>
                        In 2020 I joined the Learning and Signal Processing group at UCL, lead by Laura Toni.
                    </p>
                </div>
                <div class="col col-3-of-12 right">
                    <p>
                        In 2019 he joined the Biologically-Inspired Computation and Inference Lab at the Imperial College.
                        He is conducting research to shorten the computational time for predictive modelling of
                        surgical interventions in cardiology, by exploring the use of deep learning to create surrogate models.
                        The deep networks take advantage of accepted numerical modelling techniques to generate training data,
                        and are optimised to infer approximate solutions in about 1% of time necessary to standard models.
                        The position is founded by the Rosetrees Trust, in collaboration with the ElectroCardioMaths program,
                        a multidisciplinary initiative that brings together the National Heart and Lung Institute,
                        and the Departments of Bioengineering, Aeronautics, Computing and Physics to address key challenges
                        in the diagnosis and treatment of complex cardiac arrhythmias.
                    </p>
                </div>
                <div class="col col-3-of-12 right">
                    <p>
                        In 2017 he joined BuroHappold Engineering, where he is now leading the applied research in Machine Learning
                        to help understand how AI can create value for the business. He is pursuing the democratisation of the access
                        to Deep Learning technologies to allow every employee to access the knowledge and the tools. Using Visual Programming,
                        a recognised and diffused tool for design, to create a framework that interoperates between the most common deep learning libraries,
                        tensorflow, keras, pytorch, numpy.
                    </p>
                </div>
                <div class="col col-3-of-12 right">
                    <p>
                    In 2014 he defended the thesis “Computational morphogenesis and construction of an acoustic shell for outdoor chamber music”.
                    Implementing numerical methods that uses geometrical acoustics, computational physics, descriptive geometry and genetic algorithms,
                    the work established the state of the art for generative method of passive acoustic shell for outdoor classical music.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-12-of-12 right" id="cv">

        </div>
    </div>
</body>

</html>